<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyhome.dao.mapper.VideoEpisodePOMapper" >
  <resultMap id="BaseResultMap" type="com.yyhome.data.po.VideoEpisodePO" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="series_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="episode_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="episode_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="next_episode_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="local_url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="web_url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="memory" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="type" jdbcType="TINYINT" javaType="java.lang.Integer" />
      <arg column="play_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_user" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="update_user" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, series_id, episode_name, episode_num, next_episode_id, local_url, web_url, memory, 
    type, play_count, remark, create_user, update_user, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yyhome.data.example.VideoEpisodePOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from video_episode
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from video_episode
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from video_episode
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yyhome.data.po.VideoEpisodePO" >
    insert into video_episode (id, series_id, episode_name, 
      episode_num, next_episode_id, local_url, 
      web_url, memory, type, 
      play_count, remark, create_user, 
      update_user, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{seriesId,jdbcType=BIGINT}, #{episodeName,jdbcType=VARCHAR}, 
      #{episodeNum,jdbcType=INTEGER}, #{nextEpisodeId,jdbcType=BIGINT}, #{localUrl,jdbcType=VARCHAR}, 
      #{webUrl,jdbcType=VARCHAR}, #{memory,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, 
      #{playCount,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createUser,jdbcType=BIGINT}, 
      #{updateUser,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yyhome.data.po.VideoEpisodePO" >
    insert into video_episode
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="seriesId != null" >
        series_id,
      </if>
      <if test="episodeName != null" >
        episode_name,
      </if>
      <if test="episodeNum != null" >
        episode_num,
      </if>
      <if test="nextEpisodeId != null" >
        next_episode_id,
      </if>
      <if test="localUrl != null" >
        local_url,
      </if>
      <if test="webUrl != null" >
        web_url,
      </if>
      <if test="memory != null" >
        memory,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="playCount != null" >
        play_count,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="seriesId != null" >
        #{seriesId,jdbcType=BIGINT},
      </if>
      <if test="episodeName != null" >
        #{episodeName,jdbcType=VARCHAR},
      </if>
      <if test="episodeNum != null" >
        #{episodeNum,jdbcType=INTEGER},
      </if>
      <if test="nextEpisodeId != null" >
        #{nextEpisodeId,jdbcType=BIGINT},
      </if>
      <if test="localUrl != null" >
        #{localUrl,jdbcType=VARCHAR},
      </if>
      <if test="webUrl != null" >
        #{webUrl,jdbcType=VARCHAR},
      </if>
      <if test="memory != null" >
        #{memory,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="playCount != null" >
        #{playCount,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyhome.data.po.VideoEpisodePO" >
    update video_episode
    <set >
      <if test="seriesId != null" >
        series_id = #{seriesId,jdbcType=BIGINT},
      </if>
      <if test="episodeName != null" >
        episode_name = #{episodeName,jdbcType=VARCHAR},
      </if>
      <if test="episodeNum != null" >
        episode_num = #{episodeNum,jdbcType=INTEGER},
      </if>
      <if test="nextEpisodeId != null" >
        next_episode_id = #{nextEpisodeId,jdbcType=BIGINT},
      </if>
      <if test="localUrl != null" >
        local_url = #{localUrl,jdbcType=VARCHAR},
      </if>
      <if test="webUrl != null" >
        web_url = #{webUrl,jdbcType=VARCHAR},
      </if>
      <if test="memory != null" >
        memory = #{memory,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="playCount != null" >
        play_count = #{playCount,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyhome.data.po.VideoEpisodePO" >
    update video_episode
    set series_id = #{seriesId,jdbcType=BIGINT},
      episode_name = #{episodeName,jdbcType=VARCHAR},
      episode_num = #{episodeNum,jdbcType=INTEGER},
      next_episode_id = #{nextEpisodeId,jdbcType=BIGINT},
      local_url = #{localUrl,jdbcType=VARCHAR},
      web_url = #{webUrl,jdbcType=VARCHAR},
      memory = #{memory,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      play_count = #{playCount,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=BIGINT},
      update_user = #{updateUser,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>